@font-face {
    font-family: 'Inter';
    src: url('/src/fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('/src/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('/src/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('/src/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('/src/fonts/Inter-Black.ttf') format('truetype');
    font-weight: 900;
}

html,
body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
